*{
  margin: 0;
  padding: 0;
  color: inherit;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
header{
  width: 100%;
  height: 65px;
  background: #24292f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  >.header-container{
    width: 97vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >.header-left{
      display: flex;
      height: 50px;
      align-items: center;
      width: 850px;
      justify-content: space-between;
      >.logo{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        >.fa-github{
          &:hover{
            filter: brightness(.8);
            cursor: pointer;
          }
        }
      }
      >.input{
        width: 325px;
        height: 30px;
        border: solid 1px #656D76;
        border-radius: 5px;
        color: #656D76;
        display: flex;
        justify-content: space-between;
        padding: 0 7px;
        align-items: center;
        cursor: pointer;
        >.fa-magnifying-glass{
          font-size: 14px;
        }
        >p{
          margin-left: -130px;
          font-size: 14px;
          color: rgb(255 255 255 / 75%);
        }
        >.small-box{
          width: 17px;
          height: 18px;
          font-size: 12px;
          border-radius: 5px;
          border: solid 1px #aaa;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      >nav{
        >ul{
          display: flex;
          width: 425px;
          justify-content: space-between;
          >li{
            padding: 10px 0;
            cursor: pointer;
            font-weight: 600;
            font-size: 14px;
            &:hover{
              color: #bbb;
            }
          }
        }
      }
    }
    >.header-right{
      height: 100%;
      width: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      >.fa-bell{
        font-size: 18px;
        cursor: pointer;
        &:hover{
          filter: brightness(.8);
        }
      }
      >.addBox{
        width: 30px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        &:hover{
          >:is(.fa-plus, .fa-caret-down){
            filter: brightness(.8);
          }
        }
        >.fa-caret-down{
          font-size: 13px;
          transition: .3s;
        }
      }
      >.profileBox{
        display: flex;
        width: 32px;
        height: 25px;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &:hover{
          >.fa-caret-down{
            filter: brightness(.8);
          }
        }
        >.fa-caret-down{
          font-size: 13px;
        }
        >.profile-image{
          width: 20px;
          height: 20px;
          >img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
.pages{
  width: 100%;
  height: 50px;
  margin-top: 30px;
  border-bottom: solid 1px #aaa;
  display: flex;
  justify-content: center;
  >ul{
    display: flex;
    height: 100%;
    >li{
      height: 100%;
      position: relative;
      padding: 0 15px;
      display: flex;
      justify-content: center;
    }
  }
}